@{
    ViewData["Title"] = "Loja";
}

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('../images/bg-01.jpg');">
    <h2 class="ltext-105 cl0 txt-center">
        Sobre Nós
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-75 p-b-120">
    <div class="container">
        <div class="row p-b-148">
            <div class="col-md-7 col-lg-8">
                <div class="p-t-7 p-r-85 p-r-15-lg p-r-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nossa História
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Tudo começou com um sonho ousado e uma visão clara. Há uma década, um grupo de amigos
                        apaixonados por moda e autoexpressão decidiu criar algo único. Nasceu assim a CozaStore. Desde o
                        início, nossa missão era proporcionar uma experiência de compra que fosse mais do que apenas
                        transacional. Queríamos criar um espaço onde as pessoas pudessem se sentir autênticas,
                        confiantes e inspiradas.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Nosso compromisso com a qualidade e o estilo sempre foi inabalável. Viajamos o mundo em busca
                        das melhores roupas e acessórios, sempre mantendo um olho atento nas tendências emergentes, mas
                        também valorizando o atemporal. Na CozaStore, você encontrará peças cuidadosamente selecionadas
                        que resistem ao teste do tempo.
                    </p>

                    <p class="stext-113 cl6 p-b-26">
                        Tem dúvidas? Venha até nós em 8th floor, 379 Hudson St, New York, NY 10018 ou nos ligue por (+1)
                        96 716 6879
                    </p>
                </div>
            </div>

            <div class="col-11 col-md-5 col-lg-4 m-lr-auto">
                <div class="how-bor1 ">
                    <div class="hov-img0">
                        <img src="~/images/about-01.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="order-md-2 col-md-7 col-lg-8 p-b-30">
                <div class="p-t-7 p-l-85 p-l-15-lg p-l-0-md">
                    <h3 class="mtext-111 cl2 p-b-16">
                        Nossa Missão
                    </h3>

                    <p class="stext-113 cl6 p-b-26">
                        Na CozaStore, acreditamos que a moda é uma forma de arte e autoexpressão. Nossa missão é
                        capacitar você a contar sua própria história através do que você veste. Queremos que cada peça
                        que você escolher na CozaStore seja uma extensão de quem você é, uma manifestação de sua
                        personalidade, gostos e aspirações.
                        Na CozaStore, estamos ansiosos para fazer parte da sua jornada de autoexpressão através da moda.
                        Convidamos você a explorar nossa loja e a se juntar à nossa comunidade apaixonada de amantes da
                        moda. Juntos, vamos escrever o próximo capítulo da sua história de estilo.
                    </p>

                    <div class="bor16 p-l-29 p-b-9 m-t-22">
                        <p class="stext-114 cl6 p-r-40 p-b-11">
                            Criatividade é apenas conectar coisas. Quando você pergunta a pessoas criativas como elas fizeram alguma coisa,
                            eles se sentem um pouco culpados porque realmente não fizeram isso, apenas viram algo. Isto
                            parecia óbvio para eles depois de um tempo.
                        </p>

                        <span class="stext-111 cl8">
                            - Steve Job’s
                        </span>
                    </div>
                </div>
            </div>

            <div class="order-md-1 col-11 col-md-5 col-lg-4 m-lr-auto p-b-30">
                <div class="how-bor2">
                    <div class="hov-img0">
                        <img src="~/images/about-02.jpg" alt="IMG">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
